@import url(../reset.css);

:root {
  font-size: 1.125rem;
}
@media (min-width: 600px) {
  :root {
    font-size: 1.5rem;
  }
}
@media (min-width: 900px) {
  :root {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  :root {
    font-size: 2rem;
  }
}

.bubble {
  position: relative;
  background: #4744f3;
  border-radius: 0.4em;
  color: #000;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #4744f3;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
  }
}
